extends layout.pug

block content
  main.page-content
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          a.tickets-list__btn.btn.btn--big(href='#')
            span Новая публикация
        ul
          each itemOffer in listOffers
            li.tickets-list__item.js-card
              .ticket-card.ticket-card--color06
                .ticket-card__img
                  img(src=`/img/${itemOffer.picture}`, alt='Изображение товара')
                .ticket-card__info
                  +ticketLabel(itemOffer.type)
                  .ticket-card__categories
                    each category in itemOffer.category
                      a(href='#') #{category}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') #{itemOffer.title}
                    p.ticket-card__price
                      span.js-sum #{itemOffer.sum}
                      |  ₽
                button.ticket-card__del.js-delete(type='button') Удалить
